/* Style for Sign up form */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  line-height: 1.5;
  font-weight: 300;
  background: #009578;
  height: 100vh;
}

.sign_main {
  max-width: 400px;
  margin: 3rem auto;
  padding: 0 1.5rem;
  align-items: center;
}
.sign_up_title {
  font-size: 42px;
}

.form {
  padding: 30px 40px;
}

.form-control {
  position: relative;
}

.form-control label {
  display: inline-block;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

 button {
  background-color: #2DCF96;
  border: 2px solid #3A3768;
  border-radius: 4px;
  color: #000;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 5px;
  width: 50%;
  margin-top: 30px;
  cursor: pointer;
}
